<mat-toolbar color="primary" >
    <span>{{ title }}</span>
    <span class="spacer"></span> <!-- Pousse les boutons à droite -->
    <button class="tool-button" routerLink="/accueil">
        Acceuil
    </button>
    <button class="tool-button" routerLink="/accueil_admin">
        Acceuil-Administrateur
    </button>
    <button class="tool-button last" routerLink="/accueil_super_admin">
        Acceuil-Super-Administrateur
    </button>
</mat-toolbar>




<br><h1 class="my_h1">{{ title }}</h1>    
<router-outlet></router-outlet>
