<mat-toolbar color="primary" >
    <span>{{ title }}</span>
    <span class="spacer"></span> <!-- Pousse les boutons à droite -->
    <button class="tool-button" routerLink="/modifier-profil-patient">
        modifier mon profil
    </button>
    <button mat-raised-button color="primary" class="tool-button" (click)="to_accueil()">
        Accueil
    </button>
    <button class="tool-button" (click)="logout()">
        logout
    </button>
</mat-toolbar>




<br><h1 class="my_h1">{{ title }}</h1>    
<router-outlet></router-outlet>
