.custom-button {
    width: 50vw; 
    font-size: 1em; 
  }

.custom-field {
    width: 50vw; 
    font-size: 1em; 
  }

.my_h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 7vh;    
    text-align: center;
}

.global {
    display: flex;
    justify-content: center;
}

.champs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}