.custom-button {
    width: 50vw; 
    font-size: 1em; 
  }

.custom-field {
    width: 50vw; 
    font-size: 1em; 
  }


.global {
    display: flex;
    justify-content: center;
}

.champs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}