<p>it works</p>


<!-- <h2 class="title">Recherche d'un patient</h2>

<div class="search-container">
  <mat-form-field appearance="fill" class="search-field">
    <mat-label>Nom du patient</mat-label>
    <input matInput [(ngModel)]="searchTerm" placeholder="Entrez un nom..." (input)="onSearch()">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="onSearch()">Rechercher</button>
</div>

<div *ngIf="patients.length > 0" class="results-container">
  <h3>Résultats :</h3>
  <mat-list>
    <mat-list-item *ngFor="let patient of patients">
      <span>{{ patient.nom }} {{ patient.prenom }}</span>
      <button mat-icon-button color="accent" (click)="goToValidation(patient)">
        <mat-icon>check_circle</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>

<div *ngIf="patients.length === 0 && searchTerm" class="no-results">
  <p>Aucun patient trouvé.</p>
</div>
 -->